{# Page: Documentation #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Documentation' %}

{% block page_title __('general.phrase.documentation') %}

{% block page_main %}

    <div class="row">
        <div class="col-md-9">
            TBD
        </div>
    </div>

{% endblock page_main %}
